<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<style>
h3 {
    color: rgb(165, 42, 42)
}
    body{
        background-image: url("https://i.ibb.co/tPyznBz/mueblesfondo.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }
    main {
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        border-radius: 6px;
        background: rgba(221, 221, 221, 0.85);
       margin-left: 100px;
       margin-right: 100px;
    }
    .formulario-de-Registro {
        text-align: center;
        color: snow;
    }
    .register-form {
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 15px;
        height: auto;
        padding: 15px;
        text-align: center
    }
    .form-contenedor{
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }
    .form-contenedor:focus{
        background-color: rgb(165, 42, 42);
        color: snow;
    }
    input:focus::placeholder{
        color: snow;
        }
    .submit {
        background-color: rgb(165, 42, 42);
        border-radius: 6px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        height: 38px;
        margin-top: 15px;
        margin-bottom: 15px;
        outline: 0;
        text-align: center;
        width: 100%;
    }
    .submit:hover{
        background-color: #c9200a;
    }
</style>


<body>
    <%- include("../partials/header.ejs") %>
    <div class="formulario-de-Registro">
   <br>
   <br>
    </div>
<main>
    <form action="/products" method="post" class= "register-form" enctype="multipart/form-data">
        <h3>Ingreso de Nuevo Producto</h3> 
        <div>
            <input class="form-contenedor" type="text" name="nombre" placeholder="Ingrese nombre de producto*" required>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="descripcion"placeholder="Descripcion del producto*" required>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="materiales"placeholder="Materiales del producto*" required>
        </div>
        <div>
            <select class="form-contenedor" name="cantidad" required><option value="  " selected>Selecciona la cantidad de Muebles</option>
                <option value="1">1 unidad</option>
                <option value="2">2 unidades</option>
                <option value="3">3 unidades</option>
                <option value="4">4 unidades</option>
                <option value="5">5 unidades</option>
            </select>
        </div>
<!-- <div>
   <h4>Seleccione el tipo de mueble</h4>

    <label for="genero">Silla</label>
    <input type="radio" name="variable1" id="opcion1" value="valor1">
    <label for="genero">Sillon</label>
    <input type="radio" name="variable1" id="opcion2" value="valor2">
    <label for="genero">Mesada</label>
    <input type="radio" name="variable1" id="opcion3" value="valor3">
    <label for="genero">Armario</label>
    <input type="radio" name="variable1" id="opcion3" value="valor3">

</div> -->
        <div>
            <input class="form-contenedor" type="text" name="precio" placeholder="Ingresa el precio" required>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="dimensiones" placeholder="Ingresa las dimensiones" required>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="peso" placeholder="Ingresa el peso" required>
        </div>
        <div>
            <input class= "form-contenedor" type="file" name="productImg" placeholder="Foto de producto" required>
        </div>
        <button type="submit" class="submit">CREAR</button>
        <button type="submit" class="submit">BORRAR</button>
    </form>
</main>
<%- include("../partials/footer") %>
</body>
</html>
