<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<style>
h3 {
    color: rgb(165, 42, 42)
}

    .formularioColor:focus{
        background-color: rgb(165, 42, 42);
    }
    body{
        background-image: url("https://i.ibb.co/tPyznBz/mueblesfondo.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }
    main {
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        border-radius: 6px;
        background: rgba(221, 221, 221, 0.85);
       margin-left: 100px;
       margin-right: 100px;
    }
    .Formulario-de-Registro {
        text-align: center;
        color: snow;
    }


    .register-form {
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 15px;
        height: auto;
        padding: 15px;
        text-align: center
    }
    #nombre-de-producto {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Descripcion {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

  
    #Cantidad-de-Mueble {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Colores {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }
  

    #Precio {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Foto {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }


    .submit {
        background-color: rgb(165, 42, 42);
        border-radius: 6px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        height: 38px;
        margin-top: 15px;
        margin-bottom: 15px;
        outline: 0;
        text-align: center;
        width: 100%;
    }
    .submit:hover{
        background-color: #c9200a;
    }
</style>


<body>
    <%- include("../partials/header.ejs") %>
    <div class="Formulario-de-Edicion">
   <br>
   <br>
    </div>

<main>
    <form action="/products/edicion_method=PUT" method="POST" class= "register-form">
        <h3>Edicion de Producto</h3> 
    <div>
    <label for="Product Name"></label>
    <input class= "formularioColor" type="text" name="nombre" id="nombre-de-producto" placeholder="Ingrese nombre de producto*" required>
</div>
<div>
    <label for="Descripcion"></label>
    <input class= "formularioColor" type="text" name="descripcion" id="Descripcion" placeholder="Descripcion del producto*" required>
</div>

<div>
    <label for="Colores"></label>
    <select name="id mult" id= "Colores" required><option value="  " selected>Selecciona el color</option>
<option value="Rojo">ROJO</option>
<option value="Azul">AZUL</option>
<option value="Verde">VERDE</option>
<option value="Negro">NEGRO</option>
<option value="Blanco">BLANCO</option>
</select>
</div>
<div>
    <label for="Cantidad"></label>
    <select name="id mult" id= "Cantidad-de-Mueble" required><option value="  " selected>Selecciona la cantidad de Muebles</option>
<option value="1">1 unidad</option>
<option value="2">2 unidades</option>
<option value="3">3 unidades</option>
<option value="4">4 unidades</option>
<option value="5">5 unidades</option>


</select>
</div>


<div>
   <h4>Seleccione el tipo de mueble</h4>

    <label for="genero">Silla</label>
    <input type="radio" name="variable1" id="opcion1" value="valor1">

    <label for="genero">Sillon</label>
    <input type="radio" name="variable1" id="opcion2" value="valor2">

    <label for="genero">Mesada</label>
    <input type="radio" name="variable1" id="opcion3" value="valor3">

    <label for="genero">Armario</label>
    <input type="radio" name="variable1" id="opcion3" value="valor3">

</div>
<br>
<br>
<div>
    <label for="Precio"></label>
    <input class= "formularioColor" type="text" name="Precio" id="Precio" placeholder="Ingresa el precio" required>
</div>

<div>
    <label>Producto Embalable </label>
    <input type="checkbox" name="newsletter" value="si">
</div>

<br>
<br>

<div>
    <label for="Foto"></label>
    <input class= "Foto" type="file" name="productImg" id="Precio" placeholder="Carga una foto" required>
</div>



    <button type="text" class="submit">CARGAR</button>
    <button type="reset" class="submit" >BORRAR</button>

</form>
</main>
    
<%- include("../partials/footer") %>

</body>
</html>