<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO Muebles - Carrito</title>
</head>
<body>
    <h1>Tu carrito</h1>
    <main>
        <div>
            <p>Artículos</p>
            <p>Precio</p>
            <p>Cantidad</p>
        </div>
        <div class= "article">
            <img src="">
            <p>Artículo</p>
            <p>Color</p>
            <p>Medidas y peso</p>
            <p>$500.000</p>
            <p>1</p>
        </div>
        <div class= "article">
            <img src="">
            <p>Artículo</p>
            <p>Color</p>
            <p>Medidas y peso</p>
            <p>$500.000</p>
            <p>1</p>
        </div>
        <div class= "article">
            <img src="">
            <p>Artículo</p>
            <p>Color</p>
            <p>Medidas y peso</p>
            <p>$500.000</p>
            <p>1</p>
        </div>
        <p class="total">
            Total carrito de compras
        </p>
    </main>
    <main>
        <div class="direccion">
            <h2>Enviar a:</h2>
            <p>Avenida Siempre Viva 123, Seattle WA 95514 USA
                Recibe: Cosme Fulanito
            </p>
            <p>Editar mi dirección</p>
        </div>
        <div class="pago">
            <h2>Pago:</h2>
            <p>Agregar cupón</p>
            <p>Subtotal</p>
            <p>Envío</p>
            <p>Descuentos</p>
            <p>Total a pagar</p>
            <p>Pagar con: VISA XXXX9532</p>
            <p>Cambiar método de pago</p>
            <p>Pagar/Confirmar</p>
        </div>
    </main>
    <footer>
        <h2>Te puede interesar:</h2>
            <div class= "articledos">
                <img src="">
                <p>Artículo</p>
                <p>$500.000</p>
            </div>
            <div class= "articledos">
                <img src="">
                <p>Artículo</p>
                <p>$500.000</p>
            </div>
            <div class= "articledos">
                <img src="">
                <p>Artículo</p>
                <p>$500.000</p>
            </div>
    </footer>
</body>
</html>

