<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO Muebles - Registro</title>
</head>
<body>
    <h1>Formulario de Registro</h1>
    <p>Nombre*</p>
    <p>Apellido*</p>
    <p>Email*</p>
    <p>Confirmar Contraseña*</p>
    <p>Pais de residencia*</p>
    <p>Tipo de documento*</p>
    <p>Nº de documento*</p>
    <p>Genero</p>
    <p>Fecha de Nacimiento*</p>
    <p>Celular*</p>
    <p>Quiero recibir via e-mail ofertas y novedades del sitio web</p>
    <p>Al registrarte estas aceptando Terminos y condiciones</p>
    <p>REGISTRAR</p>
</body>
</html>