<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Todo Muebles</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img width= "1075" src= "images/TodoMueble.png" alt="Logo de Todo Muebles">
            </div>
            <div class="form" action="#" method="GET">

                <nav>
                    <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Diseño y Remodelaciones</a></li>
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Solicite Presupuesto</a></li>
                    <li><a href="#">Regístrate</a></li>
                </ul>
                </nav>
                <section>
                <div class="input"><p>Dotados de una amplia trayectoria en el mundo del 
                    diseño de muebles, <p1>TODO</p1>Muebles es la fusión entre 
                    complejas técnicas artesanales y el grado mas alto 
                    de calidad. De esa manera producimos muebles de
                    estar y de comedor con los mas altos estandares a nivel mundial.
                </p>
                 </div>
                </section>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <!-- <p><i class="fas fa-hand-holding-usd"></i>Compras a MSI y aceptamos todas las tarjetas.</p> -->

        </div>
    </header>
    <footer>
       
            <nav>
                <ul><a href="#">Terminos y Condiciones</a></ul>
                <ul><a href="#">Todos Los Derechos Reservados</a></ul>
                <ul><a href="#">Información Legal</a></ul>
                <ul><a href="#">2021-2022</a></ul>}
                
            </nav>
        
    </footer>
    
</body>
</html>