*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("/images/mueblesfondo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 100% 100% 100% 100%;
    background-size: 1535px 780px;
   
}

div .logo{

    width: 120px;
    height: 200px;
    padding-left: 200px;
    justify-content: center;
}

header ul li a{

    color:  rgb(255, 0, 34);
    font-family: fantasy;
}

p{
    width: 450px;
    height: 100px;
    padding: 5px;
    color: rgb(255, 0, 34);  
    font-family: oswald;
    background-color: rgb(128, 128, 128);
    opacity: 0.5;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
}

p1{
    color: white;
}

