<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            align-items: center;
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }
        .section-404 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        .imagen-404 {
            display: flex;
            margin: auto;
        }
        .enunciado {
            display: flex;
            margin: auto;
        }
        .home {
            font-style: none;
        }

    </style>
    <body>
        <section class="section-404">
            <div class="imagen-404">
                <img src="/images/error404.png" alt="404">
            </div>
            <div class="enunciado">
                <h1>Oops! Parece que la página a la que intentas
                    acceder no existe.<br> 
                    Volvamos al <strong><a href="/">home</a></strong> e intentemos
                    de nuevo :)</h1>
            </div>
        </section>
    </body>
</html>