<style>
footer {
    text-align: center;
    color: rgb(165, 42, 42);
    font-weight: 700;
}
</style>

<footer>
    <p><b><a href="#">Terminos y Condiciones</a></b></p>
    <p><b><a href="#">Información Legal></a></b></p>
    <p><b>Copyright © 2022 Todo Muebles Inc.</b></p>
</footer>
