<style>
    .logo{
        text-align: center;
        padding: 20px;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: rgba(221, 221, 221, 0.85);
        }
    .nav-carrito-login {
        display: flex;
        margin-left: 580px;
        
    }
    li {
        float: left;
}
    li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
    .nav-carrito-login {
        display: flex;
        margin-left: 580px;
        
    }

    li {
        float: left;
}

    li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
</style>

<header>
    <div class="logo">
        <a href="/">
        <img src="/images/TodoMueble.png" alt="" width="80%">
        </a>
    </div>
        <!-- <form action="" class=>
            <input type="text" placeholder="Buscar productos, marcas...">
            <button class="boton">
                Buscar
            </button>
        </form> -->
    <nav>
        <div class="barra">
            <!-- <marquee> <b>Acceso solo para Administradores</b></marquee> -->

            <!-- if (variable) return -->
            <!-- <marquee> <b>¡No olvides registrarte para recibir las mejores ofertas!</b></marquee> -->
        <ul>
            <li><a href="/products">Productos</a></li>
            <li><a href="#">Diseño de Interiores</a></li>
            <li><a href="#">Contactos</a></li>
            <div class="nav-carrito-login">
                <li id="mi-carrito"><a href="/carrito">Mi Carrito <i class="fas fa-shopping-cart"></i></a></li>
                <p>|</p>
                <% if(locals.userLogged) { %>              
                <li id="acesso-login"><a href="/perfil">Mi Cuenta <i class="fas fa-user-circle"></i></a></li>
                <li id="acesso-login"><a href="/logout">Logout <i class="fas fa-user-circle"></i></a></li>
                <% } else {%>
                    <li><a href="/register">Registrarse</a></li>
                    <li id="acesso-login"><a href="/login">Login <i class="fas fa-user-circle"></i></a></li>
                <% } %>
            </div>
        </ul>
        </div>
    </nav>  
</header>