<style>
    /* .logo {
        text-align: center;
        display: block;
     margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    } */

    body{
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
         overflow-x: hidden;
         }

   header {
       background-color: black;
       
   }
   .logo {
       margin-left: 1em;
   }
   .navbar {
       display: flex;
       align-items: center;
       background-color: rgba(0, 0, 0, 1);
       width: 100%;
   }
   .navigation {
        flex: 1;
        text-align: right;
   }

    .navigation ul {
        display: inline-block;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        } 

            .navigation ul li {
                display: inline-block;
                margin-right: 20px;
                font-family: 'Roboto', sans-serif;
                
            }

                .navigation ul li a {
                    display: block;
                    padding: 0.5rem 1rem;
                    transition: all 0.2s linear;
                    border-radius: 5px;
                    color: whitesmoke;
                    text-decoration: none;
                }
                .navigation ul li a:hover {
                    background:  #c9200a;
                } 
                    
   
    
</style>
<header>
        <!-- <form action="" class=>
            <input type="text" placeholder="Buscar productos, marcas...">
            <button class="boton">
                Buscar
            </button>
        </form> -->
        
            <div class="navbar">
                <div class="logo">
                    <a href="/">
                    <img src="/images/TodoMueble.png" alt="" width="250px">
                    </a>
                </div>
                <nav class ="navigation">
                    <ul>
                        <li><a href="/products">Productos</a></li>
                        <li><a href="/aboutUs">About us</a></li>
                        <li><a href="#">Contactos</a></li>
                        <li id="mi-carrito"><a href="/carrito">Mi Carrito <i class="fas fa-shopping-cart"></i></a></li>
                        <% if(locals.userLogged) { %>              
                        <li id="acesso-login"><a href="/perfil">Mi Cuenta <i class="fas fa-user-circle"></i></a></li>
                        <li id="acesso-login"><a href="/logout">Logout <i class="fas fa-user-circle"></i></a></li>
                        <% } else {%>
                        <li><a href="/register">Registrarse</a></li>
                        <li id="acesso-login"><a href="/login">Login <i class="fas fa-user-circle"></i></a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        
</header>