<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
<style>
    /* .logo {
        text-align: center;
        display: block;
     margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    } */

    body{
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
         overflow-x: hidden;
         }

   header {
       background-color: black;
       
   }
   .logo {
       margin-left: 1em;
   }
   .navbar {
       display: flex;
       align-items: center;
       background-color: rgba(0, 0, 0, 1);
       width: 100%;
       position: fixed;
       z-index: 1;
   }
   .navigation {
        flex: 1;
        text-align: right;
   }

    .navigation ul {
        display: inline-block;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        } 

    .navigation ul li {
        display: inline-block;
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
                
         }
            
    .topbarBtn {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
        border-radius: 5px;
        color: whitesmoke;
        text-decoration: none;
        }
    .topbarBtn:hover {
        background:  #c9200a;
        } 

   label #btn,
   label #cancel {
       color: white;
       font-size: 30px;
       float: right;
       line-height: 80px;
       margin-right: 25px;
       cursor: pointer;
       display: none;
   }
   #check {
       display: none;
   }
   .adminBtn{
        font-weight: bold;
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        background:  #e8e8e5e7;
   }
   .adminBtn:hover {
        background:  #D4AF37;
        }
    @media (max-width: 750px) {
       .navbar {
           position: fixed;
           z-index: 1;
       }
       
        label #btn {
           display: block;
       }
       .navigation ul {
           position: fixed;
           width: 100%;
           background: rgba(0, 0, 0, 0.9);
           top: 63px;
           left: -110%;
           text-align: center;
           padding-left: 10px;
           transition: all .5s;
       } 
       .navigation ul li {
        display: block;
        margin-right: 50px 0;
        font-family: 'Roboto', sans-serif;
        line-height: 30px; 
         }        
        #check:checked ~ ul {
            left: 0;
        }
        #check:checked ~ label #btn {
            display: none;
        } 
        #check:checked ~ label #cancel {
            display: block;
        }
        img {
            max-width: 200px;
        }        
        }
    
</style>
<header id="header">
        <!-- <form action="" class=>
            <input type="text" placeholder="Buscar productos, marcas...">
            <button class="boton">
                Buscar
            </button>
        </form> -->
        
            <div class="navbar">
                <div class="logo" id="header">
                    <a href="/">
                    <img src="/images/TodoMueble.png" alt="" width="250px">
                    </a>
                </div>
                <nav class ="navigation">
                    <input type="checkbox" id="check">
                        <label for="check">
                            <i class="fas fa-bars" id="btn"></i>
                            <i class="fas fa-times" id="cancel"></i>
                        </label>
                    <%if(locals.userLogged.categoryId == 1) {%> 
                        <ul>
                            <li>
                                <li><a class="adminBtn" href="http://localhost:3000/">Admin Dashboard</a></li>
                            </li>
                        </ul>
                        <% } %>
                    <ul>
                        <li><a class="topbarBtn" href="/productos">Productos</a></li>
                        <li><a class="topbarBtn" href="/nosotros">Nosotros</a></li>
                        <li><a class="topbarBtn" href="#footer">Contacto</a></li>
                        <li id="mi-carrito"><a class="topbarBtn" href="/carrito">Mi Carrito <i class="fas fa-shopping-cart"></i></a></li>
                        <% if(locals.userLogged) { %>              
                        <li id="acesso-login"><a class="topbarBtn" href="/perfil">Mi Cuenta <i class="fas fa-user-circle"></i></a></li>
                        <li id="acesso-login"><a class="topbarBtn" href="/salir">Salir <i class="fas fa-sign-out-alt"></i></a></li>
                        <% } else {%>
                        <li><a class="topbarBtn" class="topbarBtn" href="/registrarse">Registrarse</a></li>
                        <li id="acesso-login"><a class="topbarBtn" href="/ingresar">Ingresar <i class="fas fa-user-circle"></i></a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        
</header>